
# <%= form_for(@product, url: "/products/#{@product.id}") do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :price_in_cents %><br>
    <%= f.text_field :price_in_cents %>
  </p>
  <p>
    <%= f.submit "Save" %>
  </p>
<% end %>

<!-- "/products/#{@product.id}" -->
<!-- edit_product_path -->
